<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Purchases')}"></head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">

    <h1 class="mb-3">Purchases</h1>

    <div class="table-responsive">
        <table class="table table-hover align-middle table-bordered border-success">
            <thead class="table-dark">
            <tr>
                <th>
                    <i class="fa-solid fa-calendar"></i>
                    Creation Date</th>
                <th>
                    <i class="fa-solid fa-calendar"></i>
                    Finished Date</th>

                <th>Shipping Mode</th>

                <th>Process Status</th>

                <th>Shipping Status</th>

                <th>Payment Status</th>

                <th>
                    <i class="fa-solid fa-euro"></i>
                    Total Price</th>

                <th>Purchase Status</th>

                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="purchase : ${purchases}">
                <td class="fw-semibold" th:text="${#temporals.format(purchase.creationDate, 'dd/MM/yy HH:mm')}"></td>
                <td class="fw-semibold" th:text="${#temporals.format(purchase.finishedDate, 'dd/MM/yy HH:mm')}"></td>
                <td th:text="${purchase.getShippingMode()}"></td>
                <td th:text="${purchase.getProcessStatus()}"></td>
                <td th:text="${purchase.getShippingStatus()}"></td>
                <td th:text="${purchase.getPaymentStatus()}"></td>
                <td class="text-muted small" th:text="${#numbers.formatDecimal(purchase.getTotalPrice, 1, 2)}"></td>
                <td th:text="${purchase.getPurchaseStatus()}"></td>

                <td>
                    <a th:href="@{/purchases/{id}(id=${purchase.id})}"
                       class="btn btn-sm btn-outline-primary">
                        <i class="fa-regular fa-eye me-1"></i> See purchase
                    </a>
                    <!--                            <a>Finalizar pedido</a>-->
                    <!--                            <a>Editar pedido</a>-->
                    <!--                            <a>Borrar pedido</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>